
body, html {
  background-color: #E8ECEF;
  height: 100%;
  margin: 0px;
  width: 100%;
}

/* .centered {
  height: 100%!important;
  text-align: center;
} */
.centered{
  margin-top: -50px;
  display: flex;
  place-content: center;
  place-items: center;
  height: 100%!important;
  text-align: center;
}

.secret-text {
  display: block!important;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
